.container {
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        height: 100svh;
    }
}

@media (max-width: 480px) {
    .container {
        height: 100svh;
    }
}
